{
  "env": {
    // jest doesn't take account of BABEL_ENV, you need to set NODE_ENV - https://facebook.github.io/jest/docs/getting-started.html#using-babel
    "commonjs": {
      "presets": [["@babel/preset-env", { "modules": false }]]
    },
    "es": {
      "presets": [["@babel/preset-env", { "modules": false }]]
    },
    "test": {
      "presets": ["@babel/preset-env"]
    }
  },
  "presets": [["@babel/preset-env", { "modules": false }]]
}
